Source: fim
Section: graphics
Priority: extra
Maintainer: Michele Martone <michele.martone@uniroma2.it>
Build-Depends: debhelper (>= 7), flex, bison, autotools-dev, libaa1-dev, libdjvulibre-dev, libgif-dev, libjpeg-dev, libpng12-dev | libpng-dev, libreadline-dev (>= 6.0), libtiff4-dev
Standards-Version: 3.8.2
Homepage: http://savannah.nongnu.org/projects/fbi-improved/

Package: fim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: scriptable frame buffer and ASCII art image viewer
 FIM (Fbi IMproved) is a highly customizable and scriptable image viewer
 targeted at users who are comfortable with software like the Vim text
 editor or the Mutt mail user agent; it aims to be a Swiss Army knife for
 viewing images. It is based on the image viewer Fbi, and works primarily
 in the Linux frame buffer console, though it also has support for X (via
 the SDL library) and ASCII art output (via aalib).
 Its features include:
  * viewing images by filename regular expressions;
  * Vim-like autocommands;
  * GNU readline command line autocompletion and history;
  * completely customizable key bindings;
  * external/internal (if/while-based) scriptability through return codes,
    standard input/output, and commands given at invocation time or in
    an initialization file;
  * internal filename-based image search;
  * and much more.
