Source: fbi
Section: graphics
Build-Depends: debhelper (>=4), libjpeg-dev, libtiff-dev, libpng3-dev | libpng-dev, libungif4-dev, xlibs-dev, xutils, libpcd-dev, libexif-dev, libcurl-dev
Priority: optional
Maintainer: Gerd Knorr <kraxel@debian.org>
Standards-Version: 3.6.1

Package: fbi
Architecture: any
Depends: ${shlibs:Depends}
Suggests: imagemagick
Description: Linux frame buffer image viewer
 This is an image viewer for Linux frame buffer devices.  It has
 built-in support for a number of common image file formats.  For
 unknown files, it tries to use convert from the ImageMagick package
 as an external converter.

Package: exiftran
Architecture: any
Depends: ${shlibs:Depends}
Description: transform digital camera jpeg images
 exiftran is a command line utility to transform digital image jpeg
 images. It can do lossless rotations like jpegtran, but unlike
 jpegtran it cares about the EXIF data: It can rotate images
 automatically by checking the exif orientation tag, it updates the
 exif informaton if needed (image dimension, orientation), it also
 rotates the exif thumbnail. It can process multiple images at once.
