#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

export DH_COMPAT=4
destdir=$(shell pwd)/debian/tmp

build:
	$(MAKE) prefix=/usr

clean:
	$(MAKE) realclean
	dh_clean

install: build
	$(MAKE) install DESTDIR=$(destdir) prefix=/usr
	mkdir -p $(destdir)/usr/lib/mime/packages
	install -m644 debian/mime $(destdir)/usr/lib/mime/packages/fbi
	dh_movefiles

binary-indep: install
	true #nop

binary-arch: install
	dh_installdocs	-p fbi		README
	dh_installdocs	-p exiftran
	dh_installmenu
	dh_installmanpages
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
