h1, h2, h3, h4, h5, h6 { font-family: Baskerville, Georgia, Garamond, Times, serif; }
h1 { color: #d2d2d2; font-style: normal; font-weight: lighter; font-size: 16pt; line-height: 17pt;  text-decoration: none; background: black ; text-align: left; text-indent: 0pt; word-spacing: 0pt; letter-spacing: 0pt; margin-right: 2pt; margin-bottom: 0pt; margin-left: 2pt; padding: 0pt; border: 0pt aqua; }
h2 { color: #fff; font-weight: bolder; font-size: 20pt; line-height: 20pt; background-color: #363636; text-align: center; text-transform: uppercase; text-indent: 0pt; letter-spacing: 15pt; margin: 0pt; padding-top: 0pt; padding-bottom: 0pt; border-bottom: none }
h3 { color: white; font-size: 24pt; line-height: 24pt; background: #2c2c2c fixed; padding-top: 8pt; padding-bottom: 8pt; padding-left: 50pt }
h4 { color: white; font-style: oblique; font-weight: bolder; font-size: 10pt; line-height: 10pt; background-color: #222; text-align: right; text-transform: lowercase; margin-top: 0pt; margin-right: 0pt; margin-left: 0pt; padding-top: 4pt; padding-bottom: 3pt ; border: 0pt 0pt 0pt 0pt }
h5 { color: white; font-weight: normal; font-size: 14pt; line-height: 17pt; background-color: #0B0B0B; text-indent: 0pt; margin: 0pt 0pt 0pt 0pt; padding: 10pt 10pt 10pt 10pt;  }
h6 { color: white; font-weight: lighter; font-size: 11pt; line-height: 12pt; background-color: gray; text-indent: 10pt; margin: 10pt; padding: 10pt; text-indent: 0pt ; }
A:hover { text-decoration: line-through; background-color: #2e2e2e; color: lime; }
A{ text-decoration: underline; color: #daffe0; }
A:visited { }
BODY {
	scrollbar-face-color: #666666; scrollbar-shadow-color: #333333; scrollbar-highlight-color: #333333; scrollbar-3dlight-color: #333333; 
	scrollbar-darkshadow-color: #333333; scrollbar-track-color: #333333; scrollbar-arrow-color: #FFEB00;
	link: #b6ffbc; alink: #b6ffbc; vlink: #b6ffbc;
	background-color: #000000; background-image:;
	color: white; border:20 pt; margin-left: 200 pt; margin-right: 200 pt; padding:20 pt;
	font-link: font-family: Baskerville, Georgia, Garamond, Times, serif;
}
CODE { font-family: monospace; overflow: hidden; padding:1pt; background: #CCC fixed; color: #222; border: thin solid; } 
PRE  { font-family: monospace; background: #CCC fixed; color: #222; border: medium solid; margin:1%; display: block; line-height: 130%; overflow: hidden; }
PRE.TEXTFB { text-align: left; border-color: #00F ; }
PRE.SHCMD { text-align: left; border-color: #080 ; }
PRE.FIMRCF { text-align: left; border-color: #F00 ; }
PRE.README { text-align: left; border-color: #FFF ; }
CODE.TEXTFI{ border-color: #00F ; }
CODE.SHCMD { border-color: #080 ; }
CODE.FIMTXT{ border-color: #FFF ; background: #000 fixed; color: #FFF; }
CODE.FIMKEY{ border: medium solid #FFF ; font-weight: bolder; }
CODE.FIMCMD{ border-color: #F00 ; }
IMG { text-align: center; justify: center; margin: 10pt; padding: 1pt; border: thin solid #FFF ; }
IMG.SCREENSHOT {  display: block; }
IMG.SCREENSHOTI {  }
